

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #548687;
    text-align: center;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 10vmin;
    
}
.container{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: #b0413e;
    font-weight: bold;
    background: #ffffC7;
}

#resetBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white ;
    border: none;
    font-weight: bold;
    border-radius: 1rem;
}